li{
  display:flex;
  justify-content: space-around;
  max-width:300px;
  align-items: center;
  text-align: left;
  
}
li p{
  text-align: left;
  margin-bottom:1px;
cursor:pointer
}
ul{
  padding-left:0;
  padding-bottom:10px;
}
.display{
  padding-bottom:50px;
}
.App{
  padding-left:30px;
}